<% layout('./layout/page.ejs') %>

<div class="film-card">
    <img src="<%= picture %>" alt=""  class="film-poster"/>
    <div class="film-content">
        <h2><%= title %></h2>
        <p class="film-desc"><%=desc%></p>
    </div>
 
</div>

