<% layout('./layout/page.ejs') %>
<p>Счетчик: <%= counter %></p>
<% if(user) {%>
<h2 class="hi">Добро пожаловать, <%= user.username %>!</h1>
<% }else{ %>
<h2 class="hi">Привет, незалогиненный пользователь!</h1>
<% } %>
<h2 class="hi">Фильмография Джонни Деппа</h2>
<div class="image-text-block">
    <div class="images">
        <img src="images/JohnnyY.jpg" alt=""/>
        <img src="images/Johnny.jpg" alt=""/>
        <img src="images/Johnny2020.jpg" alt=""/>
    </div>
    <div class="text">
        <h3>Биография</h3>
        <p> Американский актёр, режиссер, продюсер, сценарист. </p>
        <p>Родился 9 июня 1963 года в городке Оуэнсборо (штат Кентукки).</p>
        <p>Он был четвертым ребенком в семье Бетти Сью Палмер и Джона Кристофера. Его детство невозможно назвать счастливым даже с большой натяжкой. Мать с утра до ночи работала официанткой в дешевом кафе, чтобы прокормить своих детей. Отец же был инженером коммунальных служб, а в свободное от работы время сильно пил, ругал детей и поколачивал мать.
            Ситуацию не изменил и переезд в 1970 году в небольшой городок во Флориде, где отцу предложили место с более высокой зарплатой. Поэтому немудрено, что каждый из ребятишек спасался, как мог. Старший брат Дэнни с головой ушел в литературу, игнорируя окружающий мир, а Джонни вырыл себе во дворе пещеру, где и проводил все свободное время.
            Когда Джонни исполнилось 12 лет, мать купила ему дешевенькую гитару. Он взял ее в руки и раз и навсегда решил стать знаменитым рок-музыкантом. Депп не просто занимался музыкой – он болел ею.
            Будучи предоставленным самому себе, Джонни выше всего ценил свободу. Поэтому необходимость посещать школу воспринимал как насилие над собственной личностью и ничуть не расстроился, когда за употребление наркотиков его оттуда выгнали. К тому времени Джонни исполнилось уже 16 лет, он уже во всю курил, баловался алкоголем и слыл дамским любимчиком.
            Вскоре он вступил в группу «Детки», выступавшую во Флоридских ночных клубах. Впрочем, это не принесло ни популярности, ни денег. И, чтобы прокормиться, Джонни был вынужден работать на тяжелой и низкооплачиваемой работе – рыл канавы, продавал ручки по телефону, разносил пиццу.
        </p>
        <p>Первой актёрской работой Деппа стала роль в фильме «Кошмар на улице Вязов». Далее Депп появился в ряде телевизионных шоу, а также в фильме Оливера Стоуна "Взвод" в роли переводчика.
            Ключевым для Деппа стал телесериал "Джамп-Стрит, 21" (1987), подаривший ему статус кумира девочек-подростков.
        </p>
        <p>Решающее влияние на судьбу Джонни Деппа оказала его встреча с режиссером Тимом Бертоном ("Бэтмен"). Он решил поручить молодому актеру роль монстра с механической походкой и клацающими ножницами вместо рук ("Эдвард - руки-ножницы", 1990). Джонни Депп прекрасно справился с поставленной задачей.
            Роли загадочных эксцентриков, ощущающих свою чуждость, стали визитной карточкой Джонни Деппа в кино.
        </p>
        <p>
        С тех пор он никогда не снимался в шаблонных ролях на потребу толпе. Каждый его персонаж – это личность, необычная, яркая, оригинальная. При этом каждая новая роль является новой ступенькой в его карьере.
        </p>
        <p>
        Окончательно оставив свою мечту о карьере рок-музыканта, Депп посвятил себя кино. Одна за другой выходили на экраны картины с его участием, и в каждом новом фильме Депп был другим, раз от разу совершенствуя свое мастерство.
        </p>
        <p>
            Настоящим экзаменом стал для него фильм "Эд Вуд" (реж. Т. Бертон, 1994), посвященный жизни и творчеству голливудского режиссера Вуда. В этом фильме Джонни Депп воспользовался совершенно новым для себя арсеналом выразительных средств. Он показывает Эда Вуда этаким неисправимым оптимистом и отчасти параноиком, искренне верящим в собственную гениальность.
        </p>
        <p>
            Не менее интересным оказалось выступление актера в криминальном жанре — фильм "Донни Браско" (1996). Налет мрачной меланхолии, окружающей героя, придал особый колорит фигуре Донни Браско и всему фильму.
        </p>
        <p>
            В 1997 г. дебютировал в кино как режисссер фильмом "Храбрец". И хотя он не пользовался успехом, Депп намерен продолжать режиссерскую карьеру.
        </p>
        <p>
            Наконец, в 2003 году на экраны вышел фильм Гора Вербински «Пираты Карибского моря: Проклятие Черной Жемчужины», ставший хитом. Многие кинокритики в один голос утверждают, что именно благодаря блистательной работе Джонни Деппа картина получила всемирное признание.
        </p>
        <p>
            У Джонни Деппа есть именная звезда на Аллее славы в Голливуде.
            В 1999 году получил награду «Honorary César» во Франции.
        </p>
        <p>
            2 июня 2008 года на вручении премии MTV Movie Award получил сразу две награды - в категориях «Лучший экранный злодей» за исполнение роли Суини в фильме «Суини Тодд» и «Лучшая комедийная роль» за исполнение роли Джека Воробья в фильме «Пираты Карибского моря — 3: На краю света».
        </p>
        <p>
            Сейчас Джонни Депп живет во Франции с французской певицей и актрисой Ванессой Паради, они воспитывают двух очаровательных детей – дочь Лили-Роуз Мелоди (родилась 1999) и сына Джона Кристофера Джека (2002).
        </p>
    </div>
</div>

